* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  body {
    background-color: #000;
    color: #fff;
    overflow: hidden;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  .main {
    display: flex;
    height: 100vh;
    gap: 8px;
    padding: 7px;
  }
  
  .sidebar {
    background-color: black;
    width: 420px;
  }
  
  .nav {
    background-color: #121212;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    height: 96px;
    justify-content: center;
  }
  
  .nav-options {
    line-height: 45px;
    margin-left: 15px;
    opacity: 0.7;
  }
  
  .nav-options:hover {
    opacity: 1;
  }
  
  .nav-options i {
    font-size: 1.25rem;
    margin-right: 15px;
  }
  
  .nav-options a {
    font-weight: 600;
  }
  
  .library {
    margin-top: 8px;
    background-color: #121212;
    border-radius: 0.75rem;
  }
  
  .library-options {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 25px;
  }
  
  .left:hover {
    opacity: 1;
  }
  
  .left {
    display: flex;
    align-items: center;
    gap: 15px;
    opacity: 0.7;
  }
  
  .plus-icon {
    opacity: 0.7;
    padding: 8px;
    margin-right: 20px;
  }
  
  .plus-icon:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.087);
    border-radius: 50%;
    scale: 1.2;
  }
  .arrow-icon {
    opacity: 0.7;
    padding: 8px;
  }
  
  .arrow-icon:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.087);
    border-radius: 50%;
    scale: 1.2;
  }
  
  .library-options img {
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .library-boxes {
    height: 413px;
  }
  
  .box {
    background-color: #232323;
    padding: 1rem;
    margin: 8px;
    border-radius: 0.75rem;
    height: 100px;
    margin-bottom: 25px;
  }
  
  .box-p1 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }
  
  .box-p2 {
    font-size: 12px;
    opacity: 0.85;
    margin-bottom: 1.2rem;
  }
  
  .badge {
    background-color: #1ed760;
    border: none;
    font-weight: 700;
    padding: 4px 16px;
    border-radius: 100px;
    height: 2rem;
  }
  
  .main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 0.75rem;
    height: 596px;
    overflow-y: scroll;
  }
  
  .nav-main {
    position: sticky;
    top: 0;
    background-color: #121212;
    z-index: 999;
  }
  
  .sticky-nav {
    display: flex;
    height: 58px;
    align-items: center;
    justify-content: space-between;
    padding-inline: 22px;
    padding-block: 3px;
  }
  
  .main-left img {
    background-color: #000;
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    cursor: pointer;
    opacity: 0.5;
  }
  
  .main-left img:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  
  .badge {
    margin-right: 8px;
    cursor: pointer;
  }
  
  .badge:hover {
    transform: scale(1.05);
  }
  
  .main-right .main-icon {
    background-color: #000;
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    cursor: pointer;
    opacity: 0.5;
  }
  
  .main-right .main-icon:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  
  .sticky-nav2 {
    height: 56px;
    display: flex;
    align-items: center;
  }
  
  .span-items {
    height: 24px;
    font-size: 14px;
    padding: 4px 12px;
    background-color: #232323;
    border-radius: 80px;
    display: flex;
    align-items: center;
    margin-inline: 4px;
  }
  
  .span-items:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #323232;
    color: #fff;
    font-weight: 600;
  }
  
  .active {
    background-color: #fff;
    color: #000;
    font-weight: 600;
  }
  
  .heading {
    display: flex;
    justify-content: space-between;
    height: 34px;
    padding-inline: 23px;
    align-items: center;
  }
  
  .header {
    font-size: 25px;
    font-weight: 700;
  }
  
  .header:hover {
    text-decoration: underline;
  }
  
  .show-all {
    font-size: 14px;
    font-weight: 650;
    opacity: 0.75;
  }
  
  .show-all:hover {
    text-decoration: underline;
    opacity: 0.9;
  }
  
  .card-main {
    margin-top: 26px;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
  }
  
  .multiple-cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cards {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 206px;
    height: 290px;
    border-radius: 0.75rem;
    padding: 2px 8px 8px 8px;
  }
  
  .cards:hover {
    background-color: #23232390;
    cursor: pointer;
  }
  
  .card-img {
    width: 206px;
    height: 206px;
    border-radius: 0.35rem;
  }
  
  .card-head {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 6px;
  }
  
  .card-info {
    font-size: 13px;
    font-weight: 550;
    opacity: 0.7;
    margin-left: 6px;
  }
  
  .footer-line {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    margin-bottom: 60px;
  }
  
  .foot-text {
    font-size: 13px;
    font-weight: 500;
    opacity: 0.6;
    margin-right: 15px;
  }
  
  .foot-text:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .foot-text-right {
    font-size: 13px;
    font-weight: 500;
    opacity: 0.6;
    margin-right: 15px;
    line-height: 30px;
  }
  
  .foot-text-right:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .footer-top {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    padding-block: 8px;
    line-height: 30px;
  }
  
  .left-foot {
    display: flex;
    gap: 100px;
  }
  
  .company {
    display: flex;
    flex-direction: column;
  }
  
  .food-cont-main:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .food-cont-main {
    font-weight: 650;
    font-size: 15px;
  }
  
  .foot-cont {
    opacity: 0.6;
    font-size: 13px;
  }
  
  .foot-cont:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .logos {
    display: flex;
  }
  
  .logos i {
    background-color: #000;
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    cursor: pointer;
    opacity: 0.7;
  }
  
  .logos i:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  
  .line {
    height: 1px;
    width: 94%;
    border-top: 1px solid #323232;
  }
  
  .music-player {
    background-color: #000;
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
  }
  
  .music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .player {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .player-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
  }
  
  .playback-icons {
    height: 16px;
    padding: 8px;
    opacity: 0.7;
  }
  
  .playback-icons:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .playback-icons:nth-child(3){
    height: 38px;
    padding: 6px;
    opacity: 1;
  }
  
  .playback-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .progress-bar::-webkit-slider-runnable-track{
    background-color: #1ed760;
    border-radius: 100px;
    height: 0.25rem;
  }
  
  .progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 0.9rem;
    width: 0.9rem;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -6px;
  }
  
  .curr-time {
    padding-right: 10px;
    font-size: 11px;
  }
  
  .end-time {
    padding-left: 10px;
    font-size: 11px;
  }
  
  .controls {
    width: 27%;
  }
  
  .album {
    width: 27%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .album-left{
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 20px;
  padding-block: 4px;
  padding-inline: 14px;
  }
  
  .album-right {
    margin-right: 40px;
  }
  
  .album-main-img {
    height: 56px;
    width: 56px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .album-text {
    display: flex;
    flex-direction: column;
  }
  
  .album-head {
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .album-head:hover{
    text-decoration: underline;
    transform: scale(1.01);
  }
  
  .album-para {
    font-size: 12px;
    opacity: 0.7;
    cursor: pointer;
    font-weight: 550;
  }
  
  .album-para:hover{
    opacity: 1;
    text-decoration: underline;
  }
  
  .album-icon {
    padding: 8px;
    opacity: 0.7;
    cursor: pointer;
  }
  
  .right-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-album-icon {
    height: 40px;
    padding: 8px;
    opacity: 0.7;
    cursor: pointer;
  }
  
  .right-album-icon:hover{
    opacity: 1;
    transform: scale(1.05);
  }
  
  .album-icon:hover{
    opacity: 1;
    transform: scale(1.05);
  }
  
  .control-volume-bar {
    width: 20%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .control-volume-bar::-webkit-slider-runnable-track{
    background-color: #1ed760;
    border-radius: 100px;
    height: 0.20rem;
  }
  
  .control-volume-bar::-webkit-slider-thumb {
    appearance: none;
    height: 0.7rem;
    width: 0.7rem;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -4px;
  }